.popup_theme_dark {
  background: rgb(0, 0, 0, 0.9);
}

.popup_theme_dark .popup__container {
  max-width: 100%;
  width: 75vw;
  height: 75vh;
  padding: 0;
}

.popup_theme_dark .popup__image {
  object-fit: cover;
}